@mixin grid($size: '', $states: ''){
    @if $size == '' and $states == ''{
        @for $i from 1 through 12 {
            .grid-cols-#{$i}{
                grid-template-columns: repeat($i, minmax(0, 1fr));
            }
            @if $i == 12{
                .grid-cols-none{
                    grid-template-columns: none;
                }
            }
        }

        @for $i from 1 through 6 {
            .grid-rows-#{$i}{
                grid-template-rows: repeat($i, minmax(0, 1fr));
            }
            @if $i == 6{
                .grid-rows-none{
                    grid-template-rows: none;
                }
            }
        }

        @for $i from 1 through 12 {
            .col-span-#{$i}{
                grid-column: span $i / span $i;
            }
            @if $i == 12{
                .col-auto{
                    grid-column: auto;
                }
                .col-span-full{
                    grid-column: 1 / -1;
                }
            }
        }

        @for $i from 1 through 13 {
            .col-start-#{$i}{
                grid-column-start: $i;
            }
            @if $i == 13{
                .col-start-auto{
                    grid-column-start: auto;
                }
            }
        }

        @for $i from 1 through 13 {
            .col-end-#{$i}{
                grid-column-end: $i;
            }
            @if $i == 13{
                .col-end-auto{
                    grid-column-end: auto;
                }
            }
        }


        @for $i from 1 through 6 {
            .row-span-#{$i}{
                grid-row: span $i / span $i;
            }
            @if $i == 6{
                .row-auto{
                    grid-row: auto;
                }
                .row-span-full{
                    grid-row: 1 / -1;
                }
            }
        }

        @for $i from 1 through 7 {
            .row-start-#{$i}{
                grid-row-start: $i;
            }
            @if $i == 13{
                .row-start-auto{
                    grid-row-start: auto;
                }
            }
        }

        @for $i from 1 through 13 {
            .row-end-#{$i}{
                grid-row-end: $i;
            }
            @if $i == 13{
                .row-end-auto{
                    grid-row-end: auto;
                }
            }
        }

        .grid-flow-row{
            grid-auto-flow: row;
        }

        .grid-flow-col{
            grid-auto-flow: column;
        }

        .grid-flow-row-dense{
            grid-auto-flow: row-dense;
        }

        .grid-flow-col-dense{
            grid-auto-flow: column-dense;
        }

        .grid-auto-cols{
            grid-auto-columns: auto;
        }

        .grid-auto-cols-min{
            grid-auto-columns: min-content;
        }

        .grid-auto-cols-max{
            grid-auto-columns: max-content;
        }

        .grid-auto-cols-fr{
            grid-auto-columns: minmax(0,1fr);
        }

        .grid-auto-rows{
            grid-auto-columns: auto;
        }

        .grid-auto-rows-min{
            grid-auto-columns: min-content;
        }

        .grid-auto-rows-max{
            grid-auto-columns: max-content;
        }

        .grid-auto-rows-fr{
            grid-auto-columns: minmax(0,1fr);
        }

        @each $gap in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                    12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56,
                    60, 64, 72, 80, 96{
                        .gap-#{$gap}{
                            gap: $gap/4+#{rem};
                        }
                        .gap-x-#{$gap}{
                            column-gap: $gap/4+#{rem};
                        }
                        .gap-y-#{$gap}{
                            row-gap: $gap/4+#{rem};
                        }
                    }
    }
    @else if $size == ''{
        @each $state in $states{
            @for $i from 1 through 12 {
                .grid-cols-#{$i}\:#{$state}:#{$state}{
                    grid-template-columns: repeat($i, minmax(0, 1fr));
                }
                @if $i == 12{
                    .grid-cols-none\:#{$state}:#{$state}{
                        grid-template-columns: none;
                    }
                }
            }

            @for $i from 1 through 6 {
                .grid-rows-#{$i}\:#{$state}:#{$state}{
                    grid-template-rows: repeat($i, minmax(0, 1fr));
                }
                @if $i == 6{
                    .grid-rows-none\:#{$state}:#{$state}{
                        grid-template-rows: none;
                    }
                }
            }

            @for $i from 1 through 12 {
                .col-span-#{$i}\:#{$state}:#{$state}{
                    grid-column: span $i / span $i;
                }
                @if $i == 12{
                    .col-auto\:#{$state}:#{$state}{
                        grid-column: auto;
                    }
                    .col-span-full\:#{$state}:#{$state}{
                        grid-column: 1 / -1;
                    }
                }
            }

            @for $i from 1 through 13 {
                .col-start-#{$i}\:#{$state}:#{$state}{
                    grid-column-start: $i;
                }
                @if $i == 13{
                    .col-start-auto\:#{$state}:#{$state}{
                        grid-column-start: auto;
                    }
                }
            }

            @for $i from 1 through 13 {
                .col-end-#{$i}\:#{$state}:#{$state}{
                    grid-column-end: $i;
                }
                @if $i == 13{
                    .col-end-auto\:#{$state}:#{$state}{
                        grid-column-end: auto;
                    }
                }
            }


            @for $i from 1 through 6 {
                .row-span-#{$i}\:#{$state}:#{$state}{
                    grid-row: span $i / span $i;
                }
                @if $i == 6{
                    .row-auto\:#{$state}:#{$state}{
                        grid-row: auto;
                    }
                    .row-span-full\:#{$state}:#{$state}{
                        grid-row: 1 / -1;
                    }
                }
            }

            @for $i from 1 through 7 {
                .row-start-#{$i}\:#{$state}:#{$state}{
                    grid-row-start: $i;
                }
                @if $i == 13{
                    .row-start-auto\:#{$state}:#{$state}{
                        grid-row-start: auto;
                    }
                }
            }

            @for $i from 1 through 13 {
                .row-end-#{$i}\:#{$state}:#{$state}{
                    grid-row-end: $i;
                }
                @if $i == 13{
                    .row-end-auto\:#{$state}:#{$state}{
                        grid-row-end: auto;
                    }
                }
            }

            .grid-flow-row\:#{$state}:#{$state}{
                grid-auto-flow: row;
            }

            .grid-flow-col\:#{$state}:#{$state}{
                grid-auto-flow: column;
            }

            .grid-flow-row-dense\:#{$state}:#{$state}{
                grid-auto-flow: row-dense;
            }

            .grid-flow-col-dense\:#{$state}:#{$state}{
                grid-auto-flow: column-dense;
            }

            .grid-auto-cols\:#{$state}:#{$state}{
                grid-auto-columns: auto;
            }

            .grid-auto-cols-min\:#{$state}:#{$state}{
                grid-auto-columns: min-content;
            }

            .grid-auto-cols-max\:#{$state}:#{$state}{
                grid-auto-columns: max-content;
            }

            .grid-auto-cols-fr\:#{$state}:#{$state}{
                grid-auto-columns: minmax(0,1fr);
            }

            .grid-auto-rows\:#{$state}:#{$state}{
                grid-auto-columns: auto;
            }

            .grid-auto-rows-min\:#{$state}:#{$state}{
                grid-auto-columns: min-content;
            }

            .grid-auto-rows-max\:#{$state}:#{$state}{
                grid-auto-columns: max-content;
            }

            .grid-auto-rows-fr\:#{$state}:#{$state}{
                grid-auto-columns: minmax(0,1fr);
            }

            @each $gap in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                        12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56,
                        60, 64, 72, 80, 96{
                            .gap-#{$gap}\:#{$state}:#{$state}{
                                gap: $gap/4+#{rem};
                            }
                            .gap-x-#{$gap}\:#{$state}:#{$state}{
                                column-gap: $gap/4+#{rem};
                            }
                            .gap-y-#{$gap}\:#{$state}:#{$state}{
                                row-gap: $gap/4+#{rem};
                            }
                        }
            }
    }
    @else if $states == ''{
        @for $i from 1 through 12 {
            .#{$size}\:grid-cols-#{$i}{
                grid-template-columns: repeat($i, minmax(0, 1fr));
            }
            @if $i == 12{
                .#{$size}\:grid-cols-none{
                    grid-template-columns: none;
                }
            }
        }
        
        @for $i from 1 through 6 {
            .#{$size}\:grid-rows-#{$i}{
                grid-template-rows: repeat($i, minmax(0, 1fr));
            }
            @if $i == 6{
                .#{$size}\:grid-rows-none{
                    grid-template-rows: none;
                }
            }
        }
        
        @for $i from 1 through 12 {
            .#{$size}\:col-span-#{$i}{
                grid-column: span $i / span $i;
            }
            @if $i == 12{
                .#{$size}\:col-auto{
                    grid-column: auto;
                }
                .#{$size}\:col-span-full{
                    grid-column: 1 / -1;
                }
            }
        }
        
        @for $i from 1 through 13 {
            .#{$size}\:col-start-#{$i}{
                grid-column-start: $i;
            }
            @if $i == 13{
                .#{$size}\:col-start-auto{
                    grid-column-start: auto;
                }
            }
        }
        
        @for $i from 1 through 13 {
            .#{$size}\:col-end-#{$i}{
                grid-column-end: $i;
            }
            @if $i == 13{
                .#{$size}\:col-end-auto{
                    grid-column-end: auto;
                }
            }
        }
        
        
        @for $i from 1 through 6 {
            .#{$size}\:row-span-#{$i}{
                grid-row: span $i / span $i;
            }
            @if $i == 6{
                .#{$size}\:row-auto{
                    grid-row: auto;
                }
                .#{$size}\:row-span-full{
                    grid-row: 1 / -1;
                }
            }
        }
        
        @for $i from 1 through 7 {
            .#{$size}\:row-start-#{$i}{
                grid-row-start: $i;
            }
            @if $i == 13{
                .#{$size}\:row-start-auto{
                    grid-row-start: auto;
                }
            }
        }
        
        @for $i from 1 through 13 {
            .#{$size}\:row-end-#{$i}{
                grid-row-end: $i;
            }
            @if $i == 13{
                .#{$size}\:row-end-auto{
                    grid-row-end: auto;
                }
            }
        }

        .#{$size}\:grid-flow-row{
            grid-auto-flow: row;
        }
        
        .#{$size}\:grid-flow-col{
            grid-auto-flow: column;
        }
        
        .#{$size}\:grid-flow-row-dense{
            grid-auto-flow: row-dense;
        }
        
        .#{$size}\:grid-flow-col-dense{
            grid-auto-flow: column-dense;
        }

        .#{$size}\:grid-auto-cols{
            grid-auto-columns: auto;
        }
        
        .#{$size}\:grid-auto-cols-min{
            grid-auto-columns: min-content;
        }
        
        .#{$size}\:grid-auto-cols-max{
            grid-auto-columns: max-content;
        }
        
        .#{$size}\:grid-auto-cols-fr{
            grid-auto-columns: minmax(0,1fr);
        }

        .#{$size}\:grid-auto-rows{
            grid-auto-columns: auto;
        }
        
        .#{$size}\:grid-auto-rows-min{
            grid-auto-columns: min-content;
        }
        
        .#{$size}\:grid-auto-rows-max{
            grid-auto-columns: max-content;
        }
        
        .#{$size}\:grid-auto-rows-fr{
            grid-auto-columns: minmax(0,1fr);
        }

        @each $gap in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
              12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56,
              60, 64, 72, 80, 96{
                  .#{$size}\:gap-#{$gap}{
                    gap: $gap/4 + #{rem};
                  }
                  .#{$size}\:gap-x-#{$gap}{
                    column-gap: $gap/4+#{rem};
                  }
                  .#{$size}\:gap-y-#{$gap}{
                    row-gap: $gap/4+#{rem};
                  }
              }
    }

    @else{
        @each $state in $states{
            @for $i from 1 through 12 {
                .#{$size}\:grid-cols-#{$i}\:#{$state}:#{$state}{
                    grid-template-columns: repeat($i, minmax(0, 1fr));
                }
                @if $i == 12{
                    .#{$size}\:grid-cols-none\:#{$state}:#{$state}{
                        grid-template-columns: none;
                    }
                }
            }

            @for $i from 1 through 6 {
                .#{$size}\:grid-rows-#{$i}\:#{$state}:#{$state}{
                    grid-template-rows: repeat($i, minmax(0, 1fr));
                }
                @if $i == 6{
                    .#{$size}\:grid-rows-none\:#{$state}:#{$state}{
                        grid-template-rows: none;
                    }
                }
            }

            @for $i from 1 through 12 {
                .#{$size}\:col-span-#{$i}\:#{$state}:#{$state}{
                    grid-column: span $i / span $i;
                }
                @if $i == 12{
                    .#{$size}\:col-auto\:#{$state}:#{$state}{
                        grid-column: auto;
                    }
                    .#{$size}\:col-span-full\:#{$state}:#{$state}{
                        grid-column: 1 / -1;
                    }
                }
            }

            @for $i from 1 through 13 {
                .#{$size}\:col-start-#{$i}\:#{$state}:#{$state}{
                    grid-column-start: $i;
                }
                @if $i == 13{
                    .#{$size}\:col-start-auto\:#{$state}:#{$state}{
                        grid-column-start: auto;
                    }
                }
            }

            @for $i from 1 through 13 {
                .#{$size}\:col-end-#{$i}\:#{$state}:#{$state}{
                    grid-column-end: $i;
                }
                @if $i == 13{
                    .#{$size}\:col-end-auto\:#{$state}:#{$state}{
                        grid-column-end: auto;
                    }
                }
            }


            @for $i from 1 through 6 {
                .#{$size}\:row-span-#{$i}\:#{$state}:#{$state}{
                    grid-row: span $i / span $i;
                }
                @if $i == 6{
                    .#{$size}\:row-auto\:#{$state}:#{$state}{
                        grid-row: auto;
                    }
                    .#{$size}\:row-span-full\:#{$state}:#{$state}{
                        grid-row: 1 / -1;
                    }
                }
            }

            @for $i from 1 through 7 {
                .#{$size}\:row-start-#{$i}\:#{$state}:#{$state}{
                    grid-row-start: $i;
                }
                @if $i == 13{
                    .#{$size}\:row-start-auto\:#{$state}:#{$state}{
                        grid-row-start: auto;
                    }
                }
            }

            @for $i from 1 through 13 {
                .#{$size}\:row-end-#{$i}\:#{$state}:#{$state}{
                    grid-row-end: $i;
                }
                @if $i == 13{
                    .#{$size}\:row-end-auto\:#{$state}:#{$state}{
                        grid-row-end: auto;
                    }
                }
            }

            .#{$size}\:grid-flow-row\:#{$state}:#{$state}{
                grid-auto-flow: row;
            }

            .#{$size}\:grid-flow-col\:#{$state}:#{$state}{
                grid-auto-flow: column;
            }

            .#{$size}\:grid-flow-row-dense\:#{$state}:#{$state}{
                grid-auto-flow: row-dense;
            }

            .#{$size}\:grid-flow-col-dense\:#{$state}:#{$state}{
                grid-auto-flow: column-dense;
            }

            .#{$size}\:grid-auto-cols\:#{$state}:#{$state}{
                grid-auto-columns: auto;
            }

            .#{$size}\:grid-auto-cols-min\:#{$state}:#{$state}{
                grid-auto-columns: min-content;
            }

            .#{$size}\:grid-auto-cols-max\:#{$state}:#{$state}{
                grid-auto-columns: max-content;
            }

            .#{$size}\:grid-auto-cols-fr\:#{$state}:#{$state}{
                grid-auto-columns: minmax(0,1fr);
            }

            .#{$size}\:grid-auto-rows\:#{$state}:#{$state}{
                grid-auto-columns: auto;
            }

            .#{$size}\:grid-auto-rows-min\:#{$state}:#{$state}{
                grid-auto-columns: min-content;
            }

            .#{$size}\:grid-auto-rows-max\:#{$state}:#{$state}{
                grid-auto-columns: max-content;
            }

            .#{$size}\:grid-auto-rows-fr\:#{$state}:#{$state}{
                grid-auto-columns: minmax(0,1fr);
            }

            @each $gap in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                        12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56,
                        60, 64, 72, 80, 96{
                            .#{$size}\:gap-#{$gap}\:#{$state}:#{$state}{
                                gap: $gap/4+#{rem};
                            }
                            .#{$size}\:gap-x-#{$gap}\:#{$state}:#{$state}{
                                column-gap: $gap/4+#{rem};
                            }
                            .#{$size}\:gap-y-#{$gap}\:#{$state}:#{$state}{
                                row-gap: $gap/4+#{rem};
                            }
                        }
            }
    }
}