@mixin z-index($size: '', $states: ''){
    @if $size == '' and $states == ''{
        @each $value in 0, 10, 20, 30, 40, 50, auto{
            .z-#{$value}{
                z-index: $value;
            }
        }
    }
    @else if $size == ''{
        @each $value in 0, 10, 20, 30, 40, 50, auto{
            @each $state in $states{
                .z-#{$value}\:#{$state}:#{$state}{
                    z-index: $value;
                }
            }
        }
    }
    @else if $states == '' {
        @each $value in 0, 10, 20, 30, 40, 50, auto{
            .#{$size}\:z-#{$value}{
                z-index: $value;
            }
        }
    }
    @else {
        @each $value in 0, 10, 20, 30, 40, 50, auto{
            @each $state in $states{
                .#{$size}\:z-#{$value}\:#{$state}:#{$state}{
                    z-index: $value;
                }
            }
        }
    }
}